.App {
  text-align: center;
  display: flex;
  padding: 15px 35px;
  background-color: #F0F4F5;
  min-height: calc(100vh - 30px);
  flex-direction: column;
}

.App-logo {
  height: 48.38px;
  width: 200px;
  pointer-events: none;
}

.App-header {
  margin-top: 5px;
  align-self: baseline;
}

.App-link {
  color: rgb(112, 76, 182);
}