body {
  margin: 0;
  font-family: 'Baloo 2', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Baloo 2', cursive;
}

.form-check-input.is-valid:checked,
.was-validated .form-check-input:valid:checked {
  background-color: #63D391 !important;
}

.form-check-input[type=checkbox] {
  border-radius: 50%;
  border-color: rgb(99, 211, 145);
}

.btn-success {
  color: #fff;
  background-color: #63D391;
  border-color: #63D391;
}